<!DOCTYPE html>
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="css/style.css")
  link(href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,200;1,300&display=swap",rel="stylesheet")
  title Index
  style.

    body {
      font-family: 'Raleway', sans-serif;
    }
    
   .container {
    display: flex;
    flex-direction: column;
    margin: 12px;
   }

   .text-warn {
    color: red;
    font-weight: bold;
   }

   .btn-reset {
     width: 145px;
     padding: 12px;
     text-decoration: none;
     margin: 12px;
     color: #ffffff;
     font-weight: 600;
     text-align: center;
     background: #66bfb7;
   }

 body
  block content