extends base

block content
 div(class="container")
  h3(class="header") Hi, #{firstname}.
  p Confirm email by sending this url: #{url} 
  a(href="http://localhost:8080/", class="btn-reset") Confirm Email
  p If you didn't forgot your password, please ignore this email. 