extends base

block content
 div(class="container")
  h1 Hi, #{firstname} 
  h3 Forgot your password? Click on Reset button to generate a new password.
  p(class="text-warn") Warning! Your password link will expire after 10 mins!
  p Submit a patch request with your password and confirm password to: #{url} 
  a(href=`${url}`, class="btn-reset") Reset Password
  p If you didn't forgot your password, please ignore this email. 
